/* -------------------------------------------------------------
   RESET 
   ------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--font-main);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
